<div class="home">
  <div class="header-center">
    <div class="header-center-top">Platform Guide</div>
    <div class="header-center-bottom">
      <p>降りるフォームの番号を入力して簡単にフォーム案内が検索できるサイトです。<br >
        フォームの番号を入力して簡単に検索ましょう！
      </p>
    </div>
    <div class="wrap">
      <a href="stations#index" class="button">Click me!</a>
    </div>
  </div>
</div>