// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  background-image: image-url(image-path("cologne-main-station-1772337_1920.jpg"));
  background-size: cover;
}

.station-show {
  background-image: image-url(image-path('dresden-4421905_1920.jpg'));
  background-size: cover;
}